# Assignment 1
## Problem 2.1

In [11]:
import numpy as np
import pandas as pd

raw_data = [1, 2, 2, 6]

combination = np.zeros((6, 4))
comb_data = np.zeros(6)

line = 0
for i in range(3):
    for j in range(i+1, 4):
        combination[line][i] = 1
        combination[line][j] = 1
        result = raw_data[i] + raw_data[j]
        if result < 5:
            comb_data[line] = -1
        else:
            comb_data[line] = result
        line += 1
    
            

combination, comb_data

(array([[1., 1., 0., 0.],
        [1., 0., 1., 0.],
        [1., 0., 0., 1.],
        [0., 1., 1., 0.],
        [0., 1., 0., 1.],
        [0., 0., 1., 1.]]),
 array([-1., -1.,  7., -1.,  8.,  8.]))

stage2 = stage 3 since stage2 | stage3 + stage4 = 8
stage1 = stage2 - 1 since stage1 + stage4 = 7
stage2 + stage3 < 5
stage2 | stage3 < 2.5
must be int
stage2 | stage3 <= 2
therefore
stage1 <= 1
stage4 >= 6
If we ask how many are stage 1 through 3

In [3]:
result = sum(raw_data[0:3])
if result < 5:
    result = -1
result

5

This means that stage2 and stage 3 is 2
Stage 1 is 1 and stage 4 is 6
## Problem 2.2
Sets up the function to get a bin

In [4]:
def get_bin(groups: list[int]):
    number = 0
    for i in groups:
        number += raw_data[i]
    bin_number = int(number / 5)
    return bin_number * 5, bin_number * 5 + 4

In [5]:
get_bin([1,2,3])

(10, 14)

In [6]:
get_bin([0,1,3])

(5, 9)

In [7]:
get_bin([0,2,3])

(5, 9)

In [8]:
get_bin([1,2])

(0, 4)

In [9]:
get_bin([0,1,2])

(5, 9)

Stage 1 < stage 2, 3 and 4
Stage 0 > 0
Stage 4 > stage 1, 2 and 3
Stage 4 < 10 - stage1, 2 and 3
stage 1 min 1
stage 2 and 3 min 2
using min values
Stage 4 < 10 - 2 - 2
Stage 4 max 6
Stage 4 > 5
Stage 4 = 6
Stage 2 and 3 < 5
stage 2 and 3 and 4 > 10
Stage 2 and 3 = 4
Stage 2 and 3 >= 2 -> ==2

Stage 1 = 1, stage 2 | 3 = 2, stage 4 = 6
## Problem 2.7

In [10]:
def algorithm(C: set):
    I0 = []
    I1 = []
    for c in C:
        if c == 0:
            I0 = []
        elif c == 1:
            I1 = []

## Problem 2.8
### Rawdata

In [12]:
pd.read_csv("data.csv")

        Name  Age  Gender State of domicile   Religion          Disease
0     Ramsha   30  Female        Tamil Nadu      Hindu           Cancer
1       Yadu   24  Female            Kerala      Hindu  Viral infection
2     Salima   28  Female        Tamil Nadu     Muslim     Tuberculosis
3      Sunny   27    Male         Karnataka      Parsi       No illness
4       Joan   24  Female            Kerala  Christian    Heart-related
5  Bahuksana   23    Male         Karnataka   Buddhist     Tuberculosis
6     Rambha   19    Male            Kerala      Hindu           Cancer
7     Kishor   29    Male         Karnataka      Hindu    Heart-related
8    Johnson   17    Male            Kerala  Christian    Heart-related
9       John   19    Male            Kerala  Christian  Viral infection

2-anonymous in quasi identifiers Gender and Province

In [13]:
pd.read_csv("2anonymous.csv")

  Name    Age  Gender State of domicile   Religion Disease
0    *  20-30  Female        Tamil Nadu          *       *
1    *  20-30  Female            Kerala          *       *
2    *  20-30  Female        Tamil Nadu          *       *
3    *  20-30    Male         Karnataka          *       *
4    *  20-30  Female            Kerala          *       *
5    *  20-30    Male         Karnataka          *       *
6    *  10-20    Male            Kerala          *       *
7    *  20-30    Male         Karnataka          *       *
8    *  10-20    Male            Kerala  Christian       *
9    *  10-20    Male            Kerala  Christian       *

3-anonymous in quasi identifiers Name, Age, Gender, Province,
and Religion

In [14]:
pd.read_csv("3anonymous.csv")

  Name    Age  Gender State of domicile Religion Disease
0    *  20-30  Female                 *        *       *
1    *  20-30  Female                 *        *       *
2    *  20-30  Female                 *        *       *
3    *  20-30    Male         Karnataka        *       *
4    *  20-30  Female                 *        *       *
5    *  20-30    Male         Karnataka        *       *
6    *  10-20    Male            Kerala        *       *
7    *  20-30    Male         Karnataka        *       *
8    *  10-20    Male            Kerala        *       *
9    *  10-20    Male            Kerala        *       *