In [2]:
import pandas as pd
df = pd.read_csv("data.csv")
df

,Name,Age,Gender,Height,Weight,State of domicile,Religion,Disease
0,Ramsha,30,Female,165 cm,72 kg,Tamil Nadu,Hindu,Cancer
1,Yadu,24,Female,162 cm,70 kg,Kerala,Hindu,Viral infection
2,Salima,28,Female,170 cm,68 kg,Tamil Nadu,Muslim,Tuberculosis
3,Sunny,27,Male,170 cm,75 kg,Karnataka,Parsi,No illness
4,Joan,24,Female,165 cm,71 kg,Kerala,Christian,Heart-related
5,Bahuksana,23,Male,160 cm,69 kg,Karnataka,Buddhist,Tuberculosis
6,Rambha,19,Male,167 cm,85 kg,Kerala,Hindu,Cancer
7,Kishor,29,Male,180 cm,81 kg,Karnataka,Hindu,Heart-related
8,Johnson,17,Male,175 cm,79 kg,Kerala,Christian,Heart-related
9,John,19,Male,169 cm,82 kg,Kerala,Christian,Viral infection